* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

section {
    margin: 1rem;
    height: 5rem;
    width: calc((100% / 3) - 2rem);
    background-color: black;
    color: white;
    text-align: left;
}

img {
    max-height: 5rem;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    background-color: aqua;
}

.description {
    padding: 0.7rem;
}

.float-left {
    float: left;
    margin-right: 1rem;
}
